<div class="dashboard">
    <h2>Welcome to JoyAirB&B! {{user.firstName}} {{user.lastName}}</h2>


<!-- User Profile -->
<img class="profilepicture" src="/uploads/{{profilePic}}"> 

<p>Thank you for joining JoyAirB & B, and welcome to the world's largest network of travellers.<br>
Now, you are ready to start planning your next trip !!</p>

<div class="task">
    <a href="/task/list">Task Dashboard </a>
</div>

</div>