<article class="contact-us">
    <div class="contact-box">
        <h1>Have a Question? <br> Send us an email</h1>
        <form method="POST" action="/contact-us" class="contact-form">
            <label for="firstName">First Name</label>
            <input type="text" id="firstName" name="firstName"> <br>

            <label for="lastName">Last Name</label>
            <input type="text" id="lastName" name="lastName"> <br>

            <label for="e-mail">Email</label>
            <input type="email" id="eMail" name="eMail"> <br>

            <label for="message">Message</label>
            <textarea name="message" id="message" cols="27" rows="7"></textarea> <br>

            <input type="submit" value="Contact Us" class="contact-btn">
        </form>
    </div>
</article>